body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  main{
    background: orange;
    min-height: 100vh;
    button{
      font-weight: bold;
      border-radius: 10px;
      margin: 100px 0 10px 10px;
      padding: 5px 10px;
    }
  }
}

